<div
  id="auth-skeleton"
  class="flex items-center justify-between p-4 bg-gray-50 rounded-lg mb-6 animate-pulse"
>
  <div>
    <div class="h-4 bg-gray-300 rounded w-20 mb-2"></div>
    <div class="h-5 bg-gray-300 rounded w-32"></div>
  </div>
  <div class="h-9 bg-gray-300 rounded w-20"></div>
</div>
